.university {
    width: 90vw;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: #fff;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scroll-disabler {
    width: 100vw;
    height: 450px;
    position: absolute;
    background-color: rgba(0,0,0 , 0.0001);
  }
  
   ::-webkit-scrollbar {
    display: none;
  }
  
  article {
    min-width: 350px;
    height: 400px;
    padding: 1rem;
  }
  article .wrapper {
    padding: 1rem;
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
  article .img {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }


  article .img-1{
    background-image: url(../Images/uni-2.webp);
  }
  article .img-2{
    background-image: url(../Images/uni-1.webp);
  }
  article .img-3{
    background-image: url(../Images/alexander.jpg);
  }
  article .img-4{
    background-image: url(../Images/uni-5.jpg);
  }

  article .img-5{
    background-image: url(../Images/uni-4.webp);
  }



  article .content > div {
    height: 2rem;
    /* background-color: #0034c4; */
    margin: 2rem auto 0 auto;
    width: 85%;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10); */
    border-radius: 5px;
  }
  article .content > div:last-child {
    height: 5rem;
    background: none;
  }



  /* University Details */

  .content .uni-title{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

 .content .uni-title h1{
          text-align: start;
          color: #1d1d1d;
          font-size: 1.2rem;
          font-family: "Raleway",  sans-serif;
          text-wrap: wrap;
      }


 .content .uni-details a{
       color: rgb(0, 128, 6);
      }
      

      .uni-btn{
        border: none;
        background: none;
        border: 1px solid #2929f3;
        border-radius: 0.5rem;
      }

      .uni-btn:hover{
        background-color: #2929f3;
        color: #fff;
      }



      
/* Services Section
--------------------------------*/
#services {
  padding: 40px 0;
}

#services .box {
  padding: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #2c70d6 0%, #4082ce 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }

  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }
}




/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
	overflow: hidden;
  }
  
  /* Sections Header
  --------------------------------*/
  .section-header h3 {
	font-size: 32px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	position: relative;
	padding-bottom: 15px;
  }
  
  .section-header h3::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  
  .section-header h3::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #2929f3;
	bottom: 0;
	left: calc(50% - 20px);
  }
  
  .section-header p {
	text-align: center;
	padding-bottom: 30px;
	color: #333;
  }
  
  /* Section with background
  --------------------------------*/
  .section-bg {
	background: #f7f7f7;
  }
  



/* Partnering */

.start-num{
	margin: 2rem 0 2rem;
	background-color: #0d4cc2;
	padding: 0.5rem 0 0.5rem;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 700;
	border-radius: 1rem 0 1rem;
}